<table class="table mt-3" id="tableBody" th:fragment="products-table(products)">
        <thead>
            <tr>
                <th>Cód.</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            <tr th:each="product : ${products}">
                <td th:text="${product.productCode}"></td>
                <td th:text="${product.productName}"></td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#editProductModal' + ${product.id}">Editar</button>
					<button type="button" class="btn btn-secondary" data-bs-toggle="modal" th:data-bs-target="'#editIncentiveValuesModal' + ${product.id}">Atualizar indentivos</button>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#detailsProductModal' + ${product.id}">Detalhes</button>
                </td>
            </tr>
        </tbody>
    </table>