<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Usuários filtrados</title>
</head>
<body>
	<div th:fragment="filtered-employees (employees)">
		<table class="table mt-3 table-straped" id="tableBody">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td>
						<button type="button" class="btn btn-warning"
							data-bs-toggle="modal"
							th:data-bs-target="'#editEmployeeModal' + ${employee.id}">Editar</button>
						<button type="button" class="btn btn-info" data-bs-toggle="modal"
							th:data-bs-target="'#detailsEmployeeModal' + ${employee.id}">Detalhes</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-center mt-3">
			<ul class="pagination">
				<li class="page-item"
					th:classappend="${currentPage == 0} ? 'disabled'"><a
					class="page-link"
					th:href="@{/employees(page=${currentPage - 1}, size=50)}">Anterior</a>
				</li>
				<li class="page-item"
					th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
					th:classappend="${i == currentPage} ? 'active'"><a
					class="page-link" th:href="@{/employees(page=${i}, size=50)}"
					th:text="${i + 1}"></a></li>
				<li class="page-item"
					th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
					<a class="page-link"
					th:href="@{/employees(page=${currentPage + 1}, size=50)}">Próximo</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
