<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" style="display: hidden" />
<meta name="_csrf_header" th:content="${_csrf.headerName}"
	style="display: hidden" />

<title>PowerX|Adm</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/navbar-custom.css}">
<link rel="stylesheet" th:href="@{/styles/sidebar-custom.css}">
<link rel="stylesheet" th:href="@{/styles/navbar-custom.css}">
</head>
<body>
	<nav
		class="navbar navbar-expand-lg bg-body-tertiary navbar-custom bg-body-tertiary-custom">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}"><img id="goto-home"
				alt="Power X" th:src="@{/images/powerx-logo.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" aria-current="page" th:href="@{/home}">Ínicio</a>
					<a class="nav-link" th:href="@{/incentives}">Incentivos</a> <a
						class="nav-link" th:href="@{/adm}"
						sec:authorize="hasRole('ADMIN')">Administrativo</a> <a
						class="nav-link" th:href="@{/user/{id}(id=${user.Id})}">Perfil</a>
					<form id="logout-form" th:action="@{/logout}" method="post"
						style="display: none;">
						<input type="hidden" />
					</form>

					<a class="nav-link" href="#"
						onclick="document.getElementById('logout-form').submit();">Logout</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="position-sticky position-sticky-custom">
					<h5 class="sidebar-title">Administração</h5>
					<ul class="nav flex-column">
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/users}" id="link-users">Usuários</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/partner-groups}" id="link-partner-groups">Grupos
								Parceiros</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/customers}" id="link-customers">Clientes</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/products}" id="link-products">Produtos</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/employees}" id="link-awards">Premiados</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/incentives}" id="link-incentives-launch">Lançamentos
								de Incentivos</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/payment-order}" id="link-payment-order">Pedido de
								Pagamento por Cliente</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/payment-order/state}" id="link-payment-order">Pedido
								de Pagamento por Região</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/payments}" id="link-payments">Pagamentos</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/industry}" id="link-payments">Seguimentos</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/flags}" id="link-payments">Bandeiras</a></li>
						<li class="nav-item"><a class="nav-link nav-link-custom"
							th:href="@{/table-prices}" id="link-payments">Tabela de Preço</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script th:src="@{/js/search.js}"></script>
	<script th:src="@{/js/applyUserFilters.js}"></script>
	<script th:src="@{/js/resetUserFilter.js}"></script>
	<script th:src="@{/js/manageIncentiveValue2.js}"></script>
	<script th:src="@{/js/applyCustomerFilters.js}"></script>
	<script th:src="@{/js/resetCustomerFilter.js}"></script>
	<script th:src="@{/js/incentives.js}"></script>




</body>
</html>