<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Redefinir Senha</title>
    <!-- Inclua seus estilos e scripts aqui -->
</head>
<body>
    <h2>Redefinir Senha</h2>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div>
            <label for="password">Nova Senha:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div>
            <label for="confirmPassword">Confirmar Nova Senha:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required />
        </div>
        <div>
            <button type="submit">Redefinir Senha</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</body>
</html>
