<table class="table mt-3" id="tableBody" th:fragment="payments-table(payments)">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            
            <tr th:each="payment : ${payments}">
                <td th:text="${payment.id}"></td>
                <td th:text="${payment.name}"></td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#editPaymentModal' + ${payment.id}">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>